<div class="container">

  <form class="form-signin">
    <img src="assets/owlogo.png">
    <label for="inputLogin" class="sr-only">Логин</label>
    <input type="email" id="inputLogin" class="form-control" placeholder="Логин" name="login" [(ngModel)]="account.login" required
      autofocus>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password" [(ngModel)]="account.password"
      required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="sendRequest()">Поехали!</button>
  </form>

</div>