.navbar {
    position: static !important;
    background-color: #000000;
}

.menulink{
      font-size: 14pt;
      font-weight: bold;
      margin-top: 3px;
      margin-right: 10px;
      color: #e8e8e8 !important;
}

.menulink:hover{
      color: #ffffff !important;
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

.form-control{
    width: 100%;
}

.form-group{
    margin-top: 5px;
}

.container{
    margin-bottom: 25px;
}