<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img src="assets/owlogo.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class='menulink' href="/login">Кабинет</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <form action="/action_page.php">

    <div class="form-inline">
      <div class="form-group col-lg-6">
        <label for="FirstName">Имя:</label>
        <input type="text" class="form-control" [(ngModel)]="request.FirstName" name="FirstName">
      </div>
      <div class="form-group col-lg-6">
        <label for="LastName">Фамилия</label>
        <input type="text" class="form-control" [(ngModel)]="request.LastName" name="LastName">
      </div>
    </div>

    <div class="form-group col-lg-12">
      <label for="email">Email:</label>
      <input type="email" class="form-control" [(ngModel)]="request.Email" name="Email">
    </div>

    <div class="form-group col-lg-12">
      <label for="birthday">Дата рождения:</label>
      <input type="date" class="form-control" [(ngModel)]="request.Birthday" name="Birthday">
    </div>

    <div class="form-group col-lg-12">
      <label for="mobilephone">Мобильный телефон</label>
      <input type="text" class="form-control" [(ngModel)]="request.MobilePhone" name="MobilePhone">
    </div>

    <div class="form-group col-lg-12">
      <label for="subjects">Чем бы вы хотели заниматься?</label>
      <div *ngFor="let subject of subjects | enumToArray; let i=index">
        <input type="checkbox" [(ngModel)]="subjectsMatrix[i]" [name]="subject" [value]="subject" (change)="rebuildSubjects()" /> {{subject}}
      </div>
    </div>
    <div class="col-lg-12">
      <h3>И так далее..</h3>
      <br/>
        <button type="submit" class="btn btn-default" (click)="sendRequest()">Хочу на стажировку!</button>
    </div>
  </form>
</div>