.navbar {
    position: static !important;
    background-color: #000000;
  }

  .menulink{
      font-size: 14pt;
      font-weight: bold;
      margin-top: 3px;
      margin-right: 10px;
      color: #e8e8e8 !important;
  }

  .menulink:hover{
      color: #ffffff !important;
  }

  i{
      margin-right: 4px !important;
  }
  
  .info{
      font-size: 15px !important;
  }

  span{
    padding: 4px;
    margin-right: 5px;
    font-size: 11pt;
  }

  .sended{
      text-align: right;
      font-size: 10pt;
      font-style: italic; 
  }

  body{
      background-color: #ffffff;
      margin: 0;
      padding: 0;
  }
