<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img src="assets/owlogo.png">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class='menulink' href="/">Выход</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div *ngFor="let request of requests" class="col-xs-12 col-sm-6 col-md-6">
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-6 col-md-8">
          <h4> {{request.firstName}} {{request.lastName}} </h4>
          <p class="info">
            <i class="glyphicon glyphicon-gift"></i> {{request.birthday.toString('YYYY mm dd')}}
          </p>
          <p class="info">
            <i class="glyphicon glyphicon-envelope"></i> {{request.email}}
          </p>
          <p class="info">
            <i class="glyphicon glyphicon-phone"></i> {{request.mobilePhone}}
          </p>          
            <div *ngFor="let subj of request.subjects"  >
                <div class="label label-primary">{{ subj }}</div>

            </div>
          <p class="sended">
            Прислали: {{request.sendedOn}}
          </p>
        </div>

      </div>
    </div>
  </div>
</div>